.choice-box .label {
	-fx-font-family: "Telugu Sangam MN";
    -fx-font-size: 12px;
	-fx-text-fill:  #ffffff;
}

.choice-box .context-menu {
	-fx-background-color: #939393 ;
	-fx-pref-tile-width: 117;
	-fx-accent: #34a88b;
	-fx-focus-color: #34a88b;
}
